body {
    background-color: rgb(253, 251, 251);
}

header {
    margin-top: 0;
}

table {
    border: 1px solid black;
    padding-right: 20px;
    line-height: 20px;
}
#titulo {
    font-size: xx-large;
    color: brown;
    font-family: sans-serif;
}