body {
    background-color: rgb(253, 251, 251);
}

header {
    position: fixed;
    top: 0px;
    margin-top: 0px;
}

img {
    padding-top: 70px;
}

table {
    border: 1px solid black;
    padding-right: 20px;
    line-height: 20px;
}
#titulo {
    font-size: xx-large;
    color: brown;
    font-family: sans-serif;
}

article {
    width: 40%;
    display: inline-block;
    text-align: left;
    position: inherit;
}
aside {
    display: inline-block;
    width: 40%;
    position: absolute;
    text-align: center;
    padding-left: 60px;
}

footer {
    color: blue;
}

#centro {
    text-align: left;
}